<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-plug" version="0.0.1">
    <name>Plug</name>

    <description>An Android Cordova plugin that allows users to display simple Toast messages at the bottom of the screen.</description>
    <license>MIT</license>

    <keywords>cordova,android,toast,message,alert</keywords>
    <repo>https://github.com/wojcikkatarzyna/plug.git</repo>
    <issue>https://github.com/wojcikkatarzyna/plug/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/plug.js" name="plug">
        <clobbers target="window.plugins.plug" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Plug">
                <param name="android-package" value="com.wojcikkatarzyna.cordova.plugin.Plug"/>
            </feature>
        </config-file>

        <source-file src="src/android/Plug.java" target-dir="src/com/wojcikkatarzyna/cordova/plugin" />
    </platform>
</plugin>
